body{
    background-color:rgb(237, 186, 228);
    text-align: center;
    color:rgb(145, 0, 128);
    font-family:'Times New Roman', Times, serif
}
a{
    color:darkmagenta;
    text-decoration:none;
}
a:hover{
    color:aliceblue;
    text-decoration:underline
}
main{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
h2{
    text-align:center;
}
img{
    width:100%;
}
figure{
    text-align: center;
    font-style:oblique;
}